* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- Secao de Tags ---------------- */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(54, 54, 54);
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}


/* ---------------- TOPO HEADER ---------------- */

.topo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header h1 {
    font-size: 20px;
    margin-left: 7%;
    text-shadow: 0 2px 5px #b9b4b4;
}

.logo {
    height: 60px;
    width: auto;
    margin-left: 30%;
}

/* ---------------- MEIO HEADER ---------------- */

.meio-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: #244B32;
}

.meio-header input {
    width: 500px;
    height: 25px;
    border-radius: 12.5px;
    margin-left: 35%;
}

.meio-header img {
    height: 25px;
    width: auto;
}

.meio-header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    color: white;
}

.lupa {
    margin-left: 5px;
}

.login {
    margin-left: 300px;
}

.cadastro {
    margin-left: 5px;
}

.fale-conosco {
    margin-left: 5px;
}

/* ---------------- NAVEGACAO HEADER ---------------- */

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: white;
    column-gap: 20px;
    border-bottom: black;
    box-shadow: 0px 2px 10px gray;
}

.nav-header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(54, 54, 54);
}

.link-inicio:hover {
    font-size: 18px;
    text-shadow: 0 2px 5px rgb(54, 54, 54);
}

.link-eletrodomestico:hover {
    font-size: 18px;
    color: #783B1F;
    text-shadow: 0 2px 5px #783B1F;
}

.link-esportes:hover {
    font-size: 18px;
    color: #6a1B9A;
    text-shadow: 0 2px 5px #6a1B9A;
}

.link-games:hover {
    font-size: 18px;
    color: #244B32;
    text-shadow: 0 2px 5px #244B32;
}

.link-livros:hover {
    font-size: 18px;
    color: #FFC107;
    text-shadow: 0 2px 5px #FFC107;
}


/* ---------------- CONTEUDO ---------------- */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 250px;
    gap: 20px;
}


/* ---------------- SECAO FILTROS ---------------- */

.filtro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: 100%;
    margin-right: 20px;
}

.filtro h1 {
    font-size: 23px;
    color: #244B32;
}

.tipo-filtro {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 80px 30px 15px;
    border-radius: 10px;
    width: 100%;
}

.tipo-filtro h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #809e8b;
}

.tipo-filtro ul {
    list-style: none;
}

.tipo-filtro ul li {
    margin-bottom: 10px;
    font-size: 15px;
}

.tipo-filtro ul li:hover {
    color: #a5c9b2;
}

.preco {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.preco h4 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

.preco input {
    width: 150px;
    height: 25px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}



/* ---------------- SECAO PROMOÇÕES ---------------- */

.banner {
    width: 1030px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.banner:hover {
    transform: scale(1.01);
}


/* ---------------- ABA ORDENAR PRODUTOS ---------------- */

.ordenar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
}

.ordenar h3 {
    font-size: 15px;
    color: #809e8b;
}

.ordenar a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(54, 54, 54);
}

.ordenar a:hover {
    text-decoration: none;
    color: #a5c9b2;
}


/* ---------------- SECAO PRODUTOS ---------------- */

.anuncios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 38px;
}

.produto {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 250px;
    border-radius: 10px;
}

.produto:hover {
    box-shadow: 0px 2px 8px #809e8b;
}

.imagem-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    padding: 20px;
    background-color: white;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imagem-produto img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    
}

.descricao {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 250px;
    width: 250px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #a5c9b21e;
}

.descricao-produto {
    font-size: 13px;
    font-weight: bold;
    word-spacing: 1px;
    margin-bottom: 20px;
}

.preco-antigo-produto {
    font-size: 13px;
    font-weight: bold;
    text-decoration: line-through;
    word-spacing: 1px;
    margin-bottom: 10px;
    color: #979595;
}

.preco-novo-produto {
    font-size: 13px;
    word-spacing: 1px;
    width: 100%;
}

.preco-novo-produto b {
    font-size: 16px;
    word-spacing: 1px;
    color: #809e8b;
}

.nav-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    column-gap: 10px;
}

.nav-produtos p {
    font-weight: bold;
    font-size: 15px;
    color: #a5c9b2;
}

.nav-produtos a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(54, 54, 54);
}

.nav-produtos a:hover {    
    color: #a5c9b2;
    text-decoration: underline;
}


/* ---------------- RODAPÉ ---------------- */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #244B32;
    padding: 25px;
    min-height: 50px;
    margin-top: 20px;
    box-shadow: 0px -2px 10px gray;
    color: white;
}

.pagamentos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 25px;
}

.pagamentos h1{
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.pagamentos img {
    height: 50px;
    width: auto;
}

footer hr {
    color: white;
    width: 40%;
    margin-top: 20px;
}

.mapa-site {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:center;
    width: 100%;
    column-gap: 25px;
    margin-top: 20px;
}

.departamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.departamento h1{
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}

.departamento a{
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
}

.redes a{
    width: 100%;
    margin-bottom: 10px;
}

.redes img {
    height: 30px;
    width: auto;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    margin-top: 20px;
}

.copyright p {
    text-align: center;
    font-size: 10px;
}