* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- Secao de Tags ---------------- */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(54, 54, 54);
    background-color: #f1f1f1;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}


/* ---------------- TOPO HEADER ---------------- */

.topo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header h1 {
    font-size: 20px;
    margin-left: 7%;
    text-shadow: 0 2px 5px #b9b4b4;
}

.logo {
    height: 60px;
    width: auto;
    margin-left: 30%;
}

/* ---------------- MEIO HEADER ---------------- */

.meio-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color:black;
}

.meio-header input {
    width: 500px;
    height: 25px;
    border-radius: 12.5px;
    margin-left: 35%;
}

.meio-header img {
    height: 25px;
    width: auto;
}

.meio-header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    color: white;
}

.lupa {
    margin-left: 5px;
}

.login {
    margin-left: 300px;
}

.cadastro {
    margin-left: 5px;
}

.fale-conosco {
    margin-left: 5px;
}

/* ---------------- NAVEGACAO HEADER ---------------- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: white;
    column-gap: 20px;
    border-bottom: black;
    box-shadow: 0px 2px 10px gray;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(54, 54, 54);
}

.link-inicio:hover {
    font-size: 18px;
    text-shadow: 0 2px 5px rgb(54, 54, 54);
}

.link-eletrodomestico:hover {
    font-size: 18px;
    color: #783B1F;
    text-shadow: 0 2px 5px #783B1F;
}

.link-esportes:hover {
    font-size: 18px;
    color: #6a1B9A;
    text-shadow: 0 2px 5px #6a1B9A;
}

.link-games:hover {
    font-size: 18px;
    color: #244B32;
    text-shadow: 0 2px 5px #244B32;
}

.link-livros:hover {
    font-size: 18px;
    color: #FFC107;
    text-shadow: 0 2px 5px #FFC107;
}

.container-formulario {
    width: 75%;
    height: 600px;
    background-color: azure;
    display: flex;
    box-shadow: 0 0 5px  black;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;


}

.img {
    width: 100%;
    height: 600px;
   
}

.caixa-formulario {
   width: 400px;
   height: 400px;
   position: absolute;
   justify-content: left;
   left: 500px;
   align-items: center;
  
   

   
}

.caixa-formulario-2 {
   width: 420px;
   height: 340px;
   position: absolute;
   justify-content: right;
   right: 250px;
   
 
}

.caixa-formulario-2 p {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
      text-shadow: 0 0 1px grey;
   
}

.caixa-formulario h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif
}


.caixa-formulario p {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px;
     margin-top: 5px ;
     font-size: 20px;
     text-shadow: 0 0 1px grey;
}

.caixa-formulario-2 input {
    width: 300px;
    height: 25px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
}

.caixa-formulario-3 textarea {
   width: 400px;
   height: 100px;
   background-color: azure;
   margin-right :280px;
   
   border: 1px solid rgb(212, 212, 212);
}

#mensagem {
    width: 95%;      /* Ocupa toda a largura do container */
    max-width: 500px; /* Limita a largura máxima */
    min-width: 200px; /* Largura mínima */
    height: 180px;
    resize: vertical; /* Permite redimensionar apenas na vertical */
    margin-top: 15px;
} 

button {
    border: none;
    color: black;
    background-color:rgb(250, 249, 249);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
   margin-top: 10px;
   box-shadow: 0 0 2px black;
 
}

button:hover {
    background-color: grey;
    color: white;
}


/* ---------------- RODAPÉ ---------------- */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 25px;
    min-height: 50px;
    margin-top: 20px;
    box-shadow: 0px -2px 10px gray;
    color: white;
}

.pagamentos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 25px;
}

.pagamentos h1{
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.pagamentos img {
    height: 50px;
    width: auto;
}

footer hr {
    color: white;
    width: 40%;
    margin-top: 20px;
}

.mapa-site {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:center;
    width: 100%;
    column-gap: 25px;
    margin-top: 20px;
}

.departamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.departamento h1{
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}

.departamento a{
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
}

.redes a{
    width: 100%;
    margin-bottom: 10px;
}

.redes img {
    height: 30px;
    width: auto;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    margin-top: 20px;
}

.copyright p {
    text-align: center;
    font-size: 10px;
}

